@model PLM.Models.ViewModels.InventoryVM

@{
    ViewData["Title"] = @Model.Product.Name + " Batches";
}

<div class="container p-3">

    <div class="row pt-4"> 
        <div class="col-6">
            <h2 class="text-primary">Batch List for @Model.Product.Name</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Inventory" asp-action="Batches" asp-route-id="@Model.Product.Id" class="btn btn-primary">
                Go Back
            </a>
        </div>
    </div>

    <br /> 

    <table id="tblData" class="table table-hover" style="width: 100%" > 
        <thead>
            <tr>
                <th>
                    Batch Id
                </th>
                <th>
                    Expiration Date
                </th>
                <th>
                    Base Price
                </th>
                <th>
                    Stock
                </th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>


@section Scripts{
    <script> var productid = @Model.Product.Id</script>
    <script src="~/js/batch.js"></script>
}