@model Brand

@{
    ViewData["Title"] = "Create Brand";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Brand</h2>
        </div>
        <div class="mb-3">
            @*<div asp-validation-summary="All"></div>*@
            <label asp-for="Name"></label>
            <br /> 
            <input asp-for="Name" type="text" class="form-control" id="floatingInput" placeholder="Brand Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
        <a asp-controller="Brand" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
