@model Brand

@{
    ViewData["Title"] = "Activate Brand";
}


<form method="post" asp-action="Activate">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="rpw pb-2">
            <h2 class="text-primary">Activate Brand</h2>
        </div>
        <div class="mb-3">
            @*<div asp-validation-summary="All"></div>*@
            <label asp-for="Name"></label>
            <br /> 
            <input asp-for="Name" type="text" class="form-control" id="disabledInput" disabled="" placeholder="Brand Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger" style="width: 150px">Activate</button>
        <a asp-controller="Brand" asp-action="SeeAll" class="btn btn-secondary" style="width: 150px">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
