@{
    ViewData["Title"] = "Delivery Reports";
}

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Delivery Reports</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Delivery" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Generate Delivery Report
            </a>
        </div>
    </div>

    <br />

    <table id="tblData" class="table table-hover" style="width: 100%">
        <thead>
            <tr>
                <th>
                    Generation Date
                </th>
                <th>
                    Name
                </th>
                <th>
                    Reservations
                </th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>


@section Scripts{
    <script>
        var dataTable;

        $(document).ready(function() {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({

                "ajax": {
                    "url": "/Admin/Delivery/GetAll"
                },
                order: [[0, 'desc']],
                "columns": [
                    { "data": "generationDate", "width": "20%" },
                    { "data": "name", "width": "20%" },
                    { "data": "reservationAmount", "width": "10%" },
                    {
                        "data": "id",
                        "render": function(data) {
                            return `
                                <div class="w-75 btn-group" role="group">
                                    <a href="/Admin/Delivery/Upsert?id=${data}" class="btn btn-info mx-2">
                                        <i class="bi bi-pencil-square"> </i> Edit
                                    </a>
                                    <a href="/Admin/Delivery/Deliveries?id=${data}" class="btn btn-primary mx-2">
                                        <i class="bi bi-bag-check"> </i> Items
                                    </a>
                                    <a onclick="Excel('/Admin/Delivery/Excel?id=${data}')" class="btn btn-success mx-2">
                                        <i class="bi bi-file-spreadsheet"></i> Excel
                                    </a>
                                    <a onclick="Delete('/Admin/Delivery/Delete/${data}')" class="btn btn-warning mx-2">
                                        <i class="bi bi-trash"></i> Delete
                                    </a>
                                </div>
                                `
                        },
                        "width": "20%"
                    }
                ]

            });
        }

        function Delete(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Reports are permanently deleted",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function(data) {
                            if (data.success) {
                                dataTable.ajax.reload();
                                toastr.success(data.message);
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    })
                }
            })
        }
        function Excel(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "This will download an Excel sheet for this report",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            })
        }
    </script>
}