@page
@using PLM.Utility
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="row p-3">
    <h3>@ViewData["Title"]</h3>
    @if (!Model.Input.Confirmed)
    {
        <h5 class="text-danger">Please confirm your email to gain access to the website</h5>
    }

    else if (Model.Input.Warnings == 2)
    {
        <h5 class="text-danger">Your account has been blocked for the given warnings.</h5><br/>
        <h5 class="text-danger">Use this contact if you wish to appeal: @SD.Contact</h5>
    }
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row pt-4">
        <div class="col-md-7 row">
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.Input.Warnings == 1)
                {
                    <div class="form-floating">
                    <input asp-for="Input.Warning1" readonly class="form-control" aria-required="true" />
                    <label>Warning 1</label>
                    </div>
                } else if(Model.Input.Warnings == 2){
                    <div class="form-floating">
                    <input asp-for="Input.Warning1" readonly class="form-control" aria-required="true" />
                    <label>Warning 1</label>
                    </div>
                    <div class="form-floating">
                    <input asp-for="Input.Warning2" readonly class="form-control" aria-required="true" />
                    <label>Warning 2</label>
                    </div>
                }
                <div class="form-floating">
                    <input asp-for="Input.Fname" class="form-control" aria-required="true" />
                    <label asp-for="Input.Fname"></label>
                    <span asp-validation-for="Input.Fname" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Lname" class="form-control" aria-required="true" />
                    <label asp-for="Input.Lname"></label>
                    <span asp-validation-for="Input.Lname" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Username" class="form-control" disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Phone" class="form-control" />
                    <label asp-for="Input.Phone" class="form-label"></label>
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Address" class="form-control" />
                    <label asp-for="Input.Address" class="form-label"></label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.City" class="form-control" />
                    <label asp-for="Input.City" class="form-label"></label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Zip" class="form-control" />
                    <label asp-for="Input.Zip" class="form-label"></label>
                    <span asp-validation-for="Input.Zip" class="text-danger"></span>
                </div>
                <button id="update-profile-button" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="w-100 btn btn-lg btn-info">Change Password</button>
                @if (!Model.Input.Confirmed)
                {
                    <button asp-area="Identity" asp-page="/Account/ResendEmailConfirmation" class="w-100 btn btn-lg btn-danger">Resend Email Confirmation</button>
                }
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
