@{
    ViewData["Title"] = "Sales Reports";
}

<div class="container p-3">

    <div class="row pt-4"> 
        <div class="col-6">
            <h2 class="text-primary">Sales Reports</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Sales" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Generate Sales Report
            </a>
        </div>
    </div>

    <br /> 

    <table id="tblData" class="table table-hover" style="width: 100%" > 
        <thead>
            <tr>
                <th>
                    Generation Date
                </th>
                <th>
                    Name
                </th>
                <th>
                    Compeleted Reservations
                </th>
                <th>
                    Gross Income
                </th>
                <th>
                    Base Expense
                </th>
                <th>
                    Net Profit
                </th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>


@section Scripts{
    <script src="~/js/salesInd.js"></script>
}